body {
  font-family: Verdana, Tahoma, sans-serif;
}

.container {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.bg-img {
  background-image: url("https://i.ibb.co/mRL12cY/workout-background2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 95vh;
}

.section {
  height: 100vh;
}

.dateaboveprev {
  font-weight: 400;
  margin-bottom: 2px;
  color: #a5a5a5;
}

#hide {
  display: none;
}

#hide1 {
  display: none;
}

#datefornewworkout {
  width: 30%;
}

#notesheader {
  background-color: #ffff88;
  color: black;
}

#notesheader2 {
  margin-top: 10px;
  background-color: #ffff88;
  color: black;
}

.notes {
  margin-top: -5px;
}

table td {
  position: relative;
}

#tdinput {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: small;
}

.marginbottom {
  /* margin-bottom: 3px; */
}

.loginForm {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: 5px;
}
.loginFormModal {
  width: 64%;
  margin-top: 10%;
  margin-left: 18%;
  margin-bottom: 5px;
}

.loginInput {
  margin-bottom: 5px;
}

.loginInputModal {
  margin-bottom: 5px;
}

.loginInputBorder {
  border-color: red;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(190, 46, 10, 0.6);
  outline: 0 none;
}

.loginInput:focus {
  border-color: red;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(190, 46, 10, 0.6);
  outline: 0 none;
}

.loginInput2 {
  margin-bottom: 5px;
  border-color: green;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(15, 139, 10, 0.6);
}

.loginInput2:focus {
  border-color: green;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(15, 139, 10, 0.6);
  outline: 0 none;
}

.buttonContainer {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workoutName {
  font-weight: 500;
  font-size: large;
  color: rgb(0, 0, 0);
}

.notesBody {
  margin-bottom: 25px;
}

.selector {
  margin-top: 5px;
}

.afterSubmissionHomeButton {
  margin-top: 5%;
}

.nameYourWorkout {
  width: 174px;
}

.templateName {
  margin-top: 10px;
}

.createTemplateButton {
  margin-left: 70%;
  font-size: xx-large;
}

#notesForm {
  /* margin-top: -16px; */
  margin-bottom: 8px;
  width: 100%;

}

#datePickerRectangle {
  max-width: 80px;
  border: solid 1px #dbdbdb;
  padding-left: 3px;
  margin-bottom: 5px;
  margin-top: 10px;

}

.buttonContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.meter {
  width: 80%;
  height: 10px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

/* ===================================================== */

.meter2 {
  width: 90%;
  height: 10px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.progress2 {
  background-color: hsl(348, 100%, 61%);
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}

.meterContainer2 {
  margin-top: 30%;
  display: flex;
 align-items: flex-start;

}

.meter2 span {
  display: block;
  height: 100%;
}

/* ======================================== */

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #35c73c;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.meterContainer {
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}




.creatingAccountWords {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin5 {
  margin-bottom: 5px;
}

/* @-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
} */

#createTemplateButton1 {
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 42%;
}

/* .plusSign {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
} */

#customTable2 {
  min-height: 100px;
  margin-top: 10px;
}

#customTable4 {
  min-height: 250px;
  margin-top: 10px;
}

.deleteButton {
  margin-top: 5px;
  margin-right: 5px;
  align-self: flex-end;
  float: right;
}

.heroBody {
  padding: 0;
  padding-bottom: 5px;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loginBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #dbdbdb;

  position: fixed;
  top: 0;
  bottom: 0;
  background-image: url("https://i.pinimg.com/originals/ac/45/0d/ac450d2bf3abef40196b9cae4a0a10b4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 98vh;
}

#colorSelector {
  font-size: x-small;
  float: right;
  margin-bottom: 10px;
  margin-right: 5px;
}


.Black {
  border-left: solid 4px hsl(0, 0%, 21%);
  padding-left: 3px;
}

.Gray {
  border-left: solid 4px hsl(0, 0%, 96%);
  padding-left: 3px;
}

.Turquoise {
  border-left: solid 4px hsl(171, 100%, 41%);
  padding-left: 3px;
}

.Blue {
  border-left: solid 4px hsl(217, 71%, 53%);
  padding-left: 3px;
}

.Cyan {
  border-left: solid 4px hsl(204, 86%, 53%);
  padding-left: 3px;
}

.Green {
  border-left: solid 4px hsl(141, 53%, 53%);
  padding-left: 3px;
}

.Yellow {
  border-left: solid 4px hsl(48, 100%, 67%);
  padding-left: 3px;
}

.Red {
  border-left: solid 4px hsl(348, 100%, 61%);
  padding-left: 3px;
}

#whiteText {
  color: hsl(0, 0%, 96%);
}

#workoutHistoryText {
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
  /* background-image: url("https://i.ytimg.com/vi/fNmmvnPx-jI/hqdefault.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 27vh;
}

.colorSpan {
  height: 3px;
  width: 25%;
}

#Black2 {
  background-color: hsl(0, 0%, 21%);
}

#Gray2 {
  background-color: hsl(0, 0%, 96%);
}

#Turquoise2 {
  background-color: hsl(171, 100%, 41%);
}

#Blue2 {
  /* background-color: hsl(217, 71%, 53%); */
  background-color: hsl(217, 71%, 53%);
}

#Cyan2 {
  background-color: hsl(204, 86%, 53%);
}

#Green2 {
  background-color: hsl(141, 53%, 53%);
}

#Yellow2 {
  background-color: hsl(48, 100%, 67%);
}

#Red2 {
  background-color: hsl(348, 100%, 61%);
}

#Gray2 {
  background-color: hsl(0, 0%, 96%);
}

#workoutHeader2 {
  background-color: #dbdbdb;
}

#workoutHeader4 {
  background-color: #f5f5f5;
}

#workoutWidth {
  min-width: 160px;
}

input,
textarea {
  margin: 0;
  vertical-align: bottom;
}

#customTable {
  min-height: 250px;
  /* margin-top: -8px; */
}

.minWidthBlock {

  min-width: 600px;
  padding-right: 5px;
}

/* .float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
} */

#fiftyPercent {
  width: 50%;
  float: left;
  max-height: 200px;
}

.testing123 {
  padding-left: 3px;
  border: solid 3px white;
}

.templateMargins {
  /* margin-left: 20%; */
  color: #dbdbdb;
}

#customTable3 {
  min-height: 200px;
  margin-top: 10px;
  font-size: xx-small;
  border-collapse: collapse;
  border: none;
  color: #dbdbdb;
}

.buttonBackground {
  background-image: url("https://i.ibb.co/qsRXfwm/homebutton.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.workoutTemplatesButton {
  /* min-height: 80px;
  min-width: 80px; */
  background-image: url("https://cdn0.iconfinder.com/data/icons/ikooni-outline-seo-web/128/seo2-63-512.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8f8f8;
}

.homeButton {
  /* display: block;
  min-width: 30px;
  min-height: 30px; */
}

.historyButton {
  /* min-width: 80px;
  min-height: 80px; */
  background-image: url("https://img.icons8.com/nolan/2x/order-history.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8f8f8;
}

.newWorkoutButton {
  /* min-width: 117px;
  min-height: 80px; */
  background-image: url("https://i.ibb.co/dKTwG6g/workoutbutton.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8f8f8;
}

.backgroundColor {
  /* background-color: #000000; */
  /* height: 90vh; */
}

.afterSubmitButtons {
  width: 50%;
  min-height: 200px;
  max-width: 200px;
  border: solid 3px white;
}

.whiteBorder2 {
  border: solid 3px white;
  /* margin-top: 10%; */
  height: 100vh;

  animation: fadeOut 0.2s;
  animation-delay: 1.8s;
}

/* .homeButton:active,
.newWorkoutButton:active,
.historyButton:active,
.workoutTemplatesButton:active {
  border: solid rgb(218, 98, 255) 2px;
} */


#workoutheader {
  background-color: #dbdbdb;
}


.deleteButtonHistory {
  float: right;
  position: absolute;
  right: 0;
  background-color: rgb(228, 228, 228);
}

.historyModalContainer {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  border: solid hsl(48, 100%, 67%) 3px;
  border-radius: 10px;
  position: relative;
  max-height: 260px;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  margin-top: -2px;
  margin-bottom: -5px;
}

.insideContainer {
  padding-left: 5px;
  padding-right: 5px;
}

.smallHistoryButton {
  margin-bottom: 10px;
  margin-top: -6px;

  animation: slide3 forwards 1s;
}

.smallHistoryButton2 {
  margin-top: -17px;
  margin-bottom: -6px;
}

.smallHistoryButtonEnabled {
  margin-bottom: 10px;
  margin-top: -6px;
}

.smallHistoryButton2Enabled {
  margin-top: -17px;
  margin-bottom: -6px;
}

.quickStartContainer {
  display: flex;
  justify-content: center;
}

.quickStartButton {
  width: 95%;
}

.centerContent {
  display: flex;
  justify-content: center;
  font-size: small;
}

.centerButtons {
  text-align: center;
}

.templateButton {
  margin-bottom: 10px;
  width: 95%;
}

.scrollContainer {

  margin-top: -5px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrollContainer2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 2px;
  padding-left: 2px;
  white-space: nowrap;
}

.submitWorkoutButton {
  margin-bottom: 11px;

  animation: slide3 forwards 1s;
}

.previousContainer {
  width: 100%;
}

.previousWorkout {
  margin-top: 35px;
}

.workoutHistoryTitle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: -10px;
}

.downArrow {
  margin-left: 4px;
  margin-top: 2px;
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  animation: fadeIn ease 1.5s;
}

.fadeInAnimation {
  animation: fadeIn ease 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.plusSign {
  animation: bounceIn 0.75s;
}

@keyframes forwardIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes forwardIn2 {
  0% {
    color: hsl(141, 53%, 53%);
  }
  25% {
    color: hsl(48, 100%, 67%);
  }
  50% {
    color: orange;
  }
  100% {
    color: hsl(348, 100%, 61%);
  }
}

.forwardInAnimation {
  animation: forwardIn 0.3s;
}

@keyframes selectWorkoutAnimation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    /* margin-left: 40%; */
    transform: translateX(40%);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.selectWorkoutAnimation {
  animation: forwardIn 0.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loginAnimation {
  background-color: #000000;
  animation: fadeOut 0.2s forwards;
}

.underHaveAGoodWorkout {
  height: 35vh;
  width: 100%;
  background-image: url("https://media.tenor.com/images/83d6a5ed40a24164dfe1e4e19fad23d9/tenor.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: relative;
  /* background-size: cover; */
  margin-top: 10px;
  margin-bottom: -30px;
}

.underHaveAGoodWorkout2 {
  height: 35vh;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/b4/2d/83/b42d83f91d40450f204e41e8d56ef152.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: relative;
  /* background-size: cover; */
}

.editButton {
  float: right;
  margin-right: 5px;
}

.editButton2 {
  float: right;
  margin-right: 5px;
  color: rgb(241, 241, 241);
}

.templateModal {
  /* height: 500px;
  z-index: 100;
  float: right; */
}

.modalTitle {
  height: 90%;
}

.modalInputBoxTitle {
  border: none;
  font-size: 16px;
  background-color: hsl(0, 0%, 96%);
}

.modalInputBoxTitle:focus {
  outline: none;
}

.templateTitle {
  font-size: large;
}

#editButton1 {
  color: rgb(61, 61, 61);
  margin-right: 5px;
}

.roundedCorners {
  border-radius: 6px;
}

/* .colorWheel {
  background-image: url("https://i7.pngguru.com/preview/744/159/798/color-wheel-computer-icons-rgb-color-space-colour-thumbnail.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  float: right;
  margin-right: 5px;
  width: 36px;
  height: 36px;
} */

.whiteBorder3 {
  border: solid 3px white;
}

.shell {
  background-image: url("https://i.ibb.co/vYQNhJy/shell.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 95vh;
}

.modal-content {
  background-image: url("https://c1.wallpaperflare.com/preview/234/625/249/various-fit-fitness-gym.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: hsl(0, 0%, 41%); */
  width: 80%;
  border-radius: 10px;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.buttonContainerModal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29%;
}

.centerMe {
  text-align: center;
}

.createAccModal {
  border: solid white 1px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset,
    0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;
}

#modalCardTemplate {
  width: 95% !important;
}

.weightCalcInput {
  animation: slide2 1.3s forwards;

  width: 15%;
  min-width: 102px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: -6px;

  font-size: 16px;
  /* min-height: 40px; */
}

.validWeight {
  color:hsl(217, 71%, 53%);
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: -6px;
  font-size: x-small;
}

.noWeight {
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: -6px;
  color: hsl(348, 100%, 61%);
  font-size: x-small;
}

/* ======================================================================================= */

.barcontainer {
  overflow: hidden;
  position: relative;
  border: 3px solid black;
  border-radius: 5px 5px 0 0;
  width: 100%;
  margin: 0 auto;
  min-height: 70vw;
  max-height: 70vw;
  min-width: 40%;
  max-width: 100%;
  z-index: 1;
  /* margin-top: 5vh; */
  margin-bottom: 5vh;
  background-color: #ebebeb;
  margin-top: -3.5px;
}

@keyframes slide {
  0% {bottom: -350px;
  background-color: hsl(48, 100%, 67%);
  font-size: xx-large;
  }
  30% {background-color: hsl(48, 100%, 67%);}
  50% {
    background-color: orange;
  }
  80% {bottom: 10px;}
  100% {
    font-size: x-small;
    background-color:hsl(348, 100%, 61%);
    bottom: 0;
  }
}

@keyframes slide2 {
  0% {right: -350px;}
  100% {
    right: 0px;
  }
}

@keyframes slide3 {
  0% {left: -280px;}
  100% {
    left: 0;
  }
}

@keyframes slide4 {
  0% {margin-left: -280px;}
  100% {
    margin-left: 0;
  }
}


.barcontainerheader {
  display: inline;
  position: absolute;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background: hsl(0, 0%, 21%);
  border-bottom: 3px solid black;
  font-size: 1.5em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0 black;
  z-index: 0;
}

.bar {
  position: absolute;

  bottom: -100px;


  display: inline-block;
  bottom: 0;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  background:hsl(348, 100%, 61%);
  width: 6%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 black;
  box-shadow: 4px 0 8px #888;
  font-size: x-small;
}

.barlabel {
  position: absolute;
  border-top: 2px solid black;
  background: hsl(0, 0%, 21%);
  bottom: 0;
  width: 100%;
  text-shadow: 1px 1px 0px black;
  color: white;
  font-size: x-small;
}

.bar:nth-child(2) {
  animation: slide 0.3s forwards;

  left: 5%;
}

.bar:nth-child(3) {
  animation: slide 0.5s forwards;
  left: 12.5%;
}

.bar:nth-child(4) {
  animation: slide 0.7s forwards;
  left: 20%;
}

.bar:nth-child(5) {
  animation: slide 0.9s forwards;
  left: 27.5%;
}

.bar:nth-child(6) {
  animation: slide 1.1s forwards;
  left: 35%;
}

.bar:nth-child(7) {
  animation: slide 1.3s forwards;
  left: 42.5%;
}

.bar:nth-child(8) {
  animation: slide 1.5s forwards;
  left: 50%;
}

.bar:nth-child(9) {
  animation: slide 1.7s forwards;
  left: 57.5%;
}

.bar:nth-child(10) {
  animation: slide 1.9s forwards;
  left: 65%;
}

.bar:nth-child(11) {
  animation: slide 2.1s forwards;
  left: 72.5%;
}

.bar:nth-child(12) {
  animation: slide 2.3s forwards;
  left: 80%;
}

.bar:nth-child(13) {
  animation: slide 2.5s forwards;
  left: 87.5%;
}

/* ======================================================================== */

.weight45, .weight35, .weight25, .weight10, .weight5, .weight2point5 {
  display: inline-block;
height: 50px;
width: 50px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

.weight45 {
background-image: url("https://i.ibb.co/dt9NtwG/45Weight.png");
}

.weight35 {
  background-image: url("https://i.ibb.co/rvbjNTk/35Weight.png");
  }

  .weight25 {
    background-image: url("https://i.ibb.co/BT3CFj4/weight25.png");
    }

    .weight10 {
      background-image: url("https://i.ibb.co/dQ6qBDj/10000.png");
      }

      .weight5 {
        background-image: url("https://i.ibb.co/WDq6NWV/weight5.png");
        }

        .weight2point5 {
          background-image: url("https://i.ibb.co/80PtcMs/weight2-5.png");
          }



.textForWeights {
  font-size: large;
}

.weightsContainer {
  margin-bottom: 10px;
}

.eachSide {
  font-size: large;
  margin-left: 5px;
  /* margin-bottom: 10px; */
  height: 57px;
}

#tdinput {
  animation: slide3 1s;
}

.react-datepicker__input-container {
  position: absolute;
  animation: slide2 forwards 1s;

}

.textarea {
  animation: slide2 forwards 1s;
}

.workoutName > span {
  animation: slide4 forwards .5s;
}

/* ================================================================== */

.navBar {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: solid rgb(187, 187, 187) 0.5px;
  padding-top: 5px;
  height: 55px;
  display: flex;
  /* justify-content: center; */
}



.historyButton, .homeButton, .newWorkoutButton, .workoutTemplatesButton {
  /* width: 50px; */
  background-color: white;

  display: block;
  width: 30px;
  height: 30px;

  /* justify-content: center;
  justify-items: center; */
  margin: auto;
}


.navIconP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;


  text-align: center;
  width: calc(100% / 4);
  vertical-align: top;
  text-align:center;

  display: inline-block;
}

.center {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% / 4);


width: 50px;


}

.iconText {
  font-size: x-small;
  color: rgb(56, 56, 56);
}

.homeIcon {
  font-size: 1.5em;
}

#redirectingHome {
  margin-top: 30px;
  /* color: hsl(348, 100%, 61%); */
  animation: forwardIn2 forwards 2s;
}

/* ========================================================== */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .weightCalcInput:focus {
    margin-bottom: 0;
    position: relative;
    font-size: 16px;
    background: #eee;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .weightCalcInput {
    font-size: 16px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 50px;
  background-color: white;
  width: 100%;
}


.threeDots {
  margin-top: 5px;
  margin-right: 5px;
  align-self: flex-end;
  float: right;
}

.previousWorkoutsWrapper, .templatesWrapper {
  margin-bottom: 70px;
}

#installButton {
  position: absolute;
  top: 5px;
  left: 5px;
}