.container {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.bg-img {
  background-image: url("https://wallpaperaccess.com/full/1245041.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  height: 85vh;
}

.section {
  height: 100vh;
}

#workoutheader {
  background-color: rgb(170, 170, 170);
}

.dateaboveprev {
  font-weight: 500;
  margin-bottom: 2px;
}

#hide {
  display: none;
}

#hide1 {
  display: none;
}

#datefornewworkout {
  width: 30%;
}

#notesheader {
  background-color: rgb(235, 235, 74);
  color: black;
}

.notes {
  margin-top: -5px;
}

table td {
  position: relative;
}

#tdinput {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: small;
}

.marginbottom {
  margin-bottom: 3px;
}

#loginForm {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: 5px;
}

.loginInput {
  margin-bottom: 5px;
}

.buttonContainer {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workoutName {
  font-weight: 700;
  color: rgb(228, 112, 96);
}

.notesBody {
  margin-bottom: 25px;
}

.selector {
  margin-top: 5px;
}

.afterSubmitButtons {
  width: 100%;
}

.afterSubmissionHomeButton {
  margin-top: 5%;
}

.nameYourWorkout {
  width: 174px;
}

#customTable {
  min-height: 250px;
  margin-top: -4px;
}

.newWorkoutButton {
  width: 100%;
}

.homeButton {
  min-width: 110px;
}

.templateName {
  margin-top: 10px;
}

.createTemplateButton {
  margin-left: 70%;
}

#notesForm {
  margin-bottom: 8px;
}

#datePickerRectangle {
  margin-bottom: 7px;
}

.buttonContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meter {
  width: 80%;
  height: 10px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #35c73c;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.meterContainer {
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creatingAccountWords {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin5 {
  margin-bottom: 5px;
}
